<section class="exercises">
  <div class="container">
    <div class="exercises__box">
      <h2 class="exercises__title js-exercises__title">Exercises</h2>
      <div class="filter__wrapper js-filterBtn">
        <button class="filter__btn filter__btn--active" data-name="Muscles">
          Muscles
        </button>
        <button class="filter__btn" data-name="Body parts">Body parts</button>
        <button class="filter__btn" data-name="Equipment">Equipment</button>
      </div>
      <ul class="exercises__list js-exercises__list"></ul>
      <ul class="subtype-exercises__list js-subtype-exercises__list"></ul>
      <ul class="pagination__list js-exercises__pagaination"></ul>
    </div>
  </div>
</section>
