
.page-header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.page-header__container{
    padding: 40px 40px 0px;
@media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 48px 0px;
}
@media screen and (min-width: 1440px) {
    padding: 40px 64px 0px;
}
}
.menu__logo{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--secondFontColor);
@media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 28px;
}
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
@media screen and (min-width: 768px) {
    display: block;
}
}
.menu__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
@media screen and (min-width: 768px) {
    display: none;
}
}
.menu__icon{
    width: 32px;
    height: 16px;
}
.navigation{
    display: none;
@media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 211px;
    height: 52px;
    background-color: var(--accentColor);
    padding: 8px 16px;
    border-radius: 60px;
}
}
.navigation__link{
@media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    color: var(--firstFontColor);
}
&.navigation__link--active{
    padding: 6px 26px;
    border-radius: 30px;
    background-color: var(--firstBgColor);
    color: var(--secondFontColor);
}
}