:root {
    --firstBgColor: #FFFFFF;
    --secondBgColor: #E8E8E8;
    --hoverBgColor: #5F6560;
    --accentColor: #7E847F;
    --firstFontColor: #F6F6F6;
    --secondFontColor: #1B1B1B;
    --mainTransition: cubic-bezier(0.4, 0, 0.2, 1);
    --mainTransitionTime: 450ms;
}

